section.book-kit {
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    padding: 2rem;


    overflow: hidden;




    .content-book {
        width: min-content;





        &>div {
            position: relative;
            display: flex;
            align-items: scenter;
            justify-content: center;
            width: 30rem;





            & img[src*="book.png"] {
                object-fit: contain;
                max-width: 90%;
                z-index: 5;
            }

            & img[src*="pin.png"] {
                position: absolute;
                width: 13.875rem;
                height: 14rem;




                transform: rotate(-10deg) translateY(170%) translateX(-130%);
            }





            & img[src*="bookmark-yellow.png"] {
                z-index: 2;
                position: absolute;
                width: 10.75rem;
                height: 33.5rem;


                top: -10%;

                border-radius: 8px;
                transform: rotate(15deg) translateX(150%);


            }




            & img[src*="bookmark-purple.png"] {
                position: absolute;
                width: 10.75rem;
                height: 33.5rem;


                z-index: 1;
                position: absolute;
                width: 10.75rem;
                height: 33.5rem;


                top: -15%;

                border-radius: 8px;
                transform: rotate(26deg) translateX(230%);
            }
        }


    }


}