footer {
    margin-inline: auto;
    max-width: 80rem;
    padding: 8rem;
    overflow: hidden;
    background-image: url(../assets/book-trace-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo-icons {
        flex-direction: column;
        width: 311px;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & img[src*="logo-horizontal.svg"] {
            min-width: 100%;
            margin: 0 auto;

        }



        & .icons {

            width: 100%;
            align-items: center;
            justify-content: space-around;
            display: flex;

            & img {
                width: 25px;
                height: 25px;
            }

        }

        & .divider {
            width: 100%;
            height: 0px;

            border: 1px solid #002347;
        }

    }

    & span { 
        font: 700 1rem/1.1 'Raleway', sans-serif;
        color: #E2E7E9;


    }

    & .info-help {
        gap: 3.5rem;

        .info {
            gap: 1.5rem;
        }

        .help {
            gap: 1.5rem;
        }
    }
}

@media (width<80rem) {
    footer {
        flex-direction: column;
        padding: 5rem;
        gap: 5rem;
    }



}


