*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;
    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;

    --ff-base: "Raleway", sans-serif;
    --title-lg: 3rem;
    --title-md: 2.5rem;
    --title-sm: 2rem;
    --title-xs: 1rem;


    --subtitle: 2rem/2.0;
    --body-lg: 1.25rem;
    --body-md: 1rem;
    --body-sm: 0.8rem;

    --link: 0.8rem;
    --tag: 0.6rem;
    /* scroll-behavior: smooth; */
}

html {
    /* zoom: .5;     */
    background-color: var(--shape-background);
}

html,
body {
    overflow-x: hidden;
}


h1 {
    font: 700 var(--title-lg)/1.1 var(--ff-base);
    color: var(--text-title);
}

h2 {
    font: 700 var(--subtitle) var(--ff-base);
    color: var(--text-title);
}

a {
    color: var(--blue-light);
    text-decoration: none;
    cursor: pointer;
    font: 600 var(--link)/auto var(--ff-base);

    & :hover {
        color: var(--text-body);
    }
}