section.hero {
    max-width: 80rem;
    height: 59rem;


    overflow-x: hidden;
    align-items: center;
    justify-content: center;


    & img {
        width: 100%;
        height: min-content;
        object-fit: cover;
        z-index: 0;
        position: absolute;
        top: 0%;
        bottom: 100%;
        opacity: 0;
        animation: scroll 5s both;
        box-shadow:
            rgb(0 0 0 /0.5),
            rgb(0 0 0 /0.8),
            rgb(0 0 0 /1);
    }

    &>div {
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5rem auto;
        align-items: center;
        width: 39rem;
        gap: 2rem;

        & div:nth-child(2) {
            text-align: center;
            max-width: 35.5rem;
            max-height: 56px;

        }



        & h1 {
            opacity: 0;
            animation: scroll 5s 1s both;
        }



        & span {
            text-align: center;
            opacity: 0;
            animation: scroll 5s 1.5s both;
            font: 400 var(-body-lg)/1.4 var(--ff-base);
            color: var(--text-body);
        }
    }
}

@media(width<80rem) {

    section.hero {

        height: 59rem;




        & img {

            width: 100%;
            height: 100%;
        }

        &>div {

            margin: 10rem 1.5rem;

            width: 20rem;

            gap: 1rem;
            top: 0;

            position: absolute;



            & h1 {
                font: 700 var(--title-sm)/1.5 var(--ff-base);
            }

            & span {
                font: 300 var(--title-sm)/auto var(--ff-base);
            }
        }

    }

}

@keyframes scroll {
    100% {
        opacity: 1;
    }

}