section.legend {

    max-width: 80rem;
    padding: 275px 2rem;
    margin-inline: auto;
    justify-content: center;
     overflow-x: hidden;
    & .content-title {

        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;




        & div:nth-child(1) {
            align-items: center;
            justify-content: center;
            display: flex;

            & img {
                width: 10rem;
                height: 10rem;
            }



            & h1 {

                color: var(--text-title);
            }
        }

        & div:nth-child(2) {
            display: inline-block;
            width: 17.75;
            font: 400 var(--body-lg)/1.1 var(--ff-base);
            color: #E2E7E9;
        }
    }

}

@media (width<80rem) {
    section.legend {
        & .content-title {
            & span {
                display: inline-block;
                width: max-content;
                font: 300 10px/1.0 var(--ff-base);
                color: #E2E7E9;
            }

            & div:nth-child(1) {

                align-items: center;
                text-align: center;


                & img {
                    width: 3rem;
                    height: 3rem;
                }

                & h1 {
                    display: inline-block;
                    min-width: 10%;
                    font: 700 20px var(--ff-base);
                }


            }
        }
    }
}