section.title {
    flex-direction: column;
    max-width: 80rem;
    height: 40rem;
    position: relative;
    overflow: hidden;
    gap: 2rem;
    color: white;
    align-items: center;
    justify-content: center;

    & img {
        display: block;
        width: 5rem;
        height: 5rem;
    }

    & div:nth-child(1) {
        animation: scroll 5s 700ms ease both;

        opacity: 0;


        & img {
            transform: rotate(-20deg) scale(1);
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1);

            }
        }

    }

    & div:nth-child(2) {
        text-align: center;
        animation: scroll 5s 900ms ease both;

        opacity: 0;


        & span {
            color: var(--blue-light)
        }
    }


    & div:nth-child(3) {
        animation: scroll 5s 1s ease both;

        opacity: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;


        & img:nth-child(1) {
            transform: rotate(99.47deg) scale(1);
            transition: transform 0.5s ease;
        }

        & img:nth-child(1):hover {
            transform: scale(1.1);
        }

        & img:nth-child(2) {
            transform: rotate(-14deg)scale(1);
            transition: transform 0.5s ease;
        }

        img:nth-child(2):hover {
            transform: scale(1.1);
        }
    }
}

@media (width<80rem) {
    section.title {
        max-width: 40rem;

        & div:nth-child(1) {

            width: 100%;



            & img {

                margin-left: auto;
                transform: translateX(-74px);

            }
        }

        & div:nth-child(3) {
            & img:nth-child(1) {
                transform: translateY(18px);
            }

        }

    }
}