    .button-purple {
        display: flex;

        justify-content: center;
        align-items: center;
        border-radius: 15%;
        width: 5rem;
        height: 2.5rem;

        background-color: var(--pink-dark);

        & {
            color: var(--text-title);
            font: 400 var(--link)/1.0 var(--ff-base);
        }


        &:hover {
            background-color: var(--pink-base);

        }
    }


    .container {
        max-width: 80rem;
        padding: 2rem 2rem;
        margin-inline: auto;
    }

    .flex {
        display: flex;
    }

    .gap-1 {
        gap: 1rem;
    }